.Consultation {
  height: 120vh;
  width: 100%;
  &__form{
    width: 43%;
    margin:auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    button{
      border: 1px solid $btn-colors;
      margin: 5% auto auto auto;
    }
    textarea{
      width: 100%;
      resize: none;
      overflow: auto;
      height: 30%;
      margin-bottom: 5%;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
        padding-top: 20px; /* Сдвигает текст вниз */
        padding-left: 4%; /* Сдвигает текст вправо */
      }
    }
    input{
      width: 100%;
      padding: 4%;
      margin-bottom: 6%;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
      }
    }
    input, textarea{
      border: 1px solid #939393;
    }
  }
}
@media(max-width: 768px){
  .Consultation{
    height: 140vh;
    &__form{
      width: 90%;
    }
  }
}