.connection{
  width: 100%;
  height: 120vh;
  background-color: white;

  &_info{

    &_links{
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    p{
      font-size: 35px;
      margin-bottom: 1%;
    }
  }
  &_form{
    width: 43%;
    display: flex;
    flex-direction: column;
    button{
      border: 1px solid $btn-colors;
    }
    textarea{
      width: 100%;
      resize: none;
      overflow: auto;
      height: 30%;
      margin-bottom: 5%;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 15px;
        padding-top: 20px; /* Сдвигает текст вниз */
        padding-left: 4%; /* Сдвигает текст вправо */
      }
    }
    input{
      width: 100%;
      padding: 4%;
      margin-bottom: 6%;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 15px;
      }
    }
  }
  &_info_and_form{
    width: 87.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:auto;
    gap:16%;
    height: 38%;

  }
}