.connection{
  width: 100%;
  height: 160vh;
  background-color: white;
  &_info{

    &_links{
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    p{
      font-size: 2.1785rem;
      margin-bottom: 1%;
    }
  }
  &_form{
    width: 43%;
    display: flex;
    flex-direction: column;
    height: auto;
    button{
      border: 1px solid $btn-colors;
      margin:auto;
      display: flex;
      justify-content: center;
    }
    textarea{
      width: 100%;
      resize: none;
      overflow: auto;
      margin-bottom: 5%;
      height: 30%;
      font-family: Evolventa, sans-serif;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
        padding-top: 20px; /* Сдвигает текст вниз */
        padding-left: 4%; /* Сдвигает текст вправо */
      }
    }
    input{
      width: 100%;
      padding: 4%;
      margin-bottom: 6%;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
      }
    }
  }
  &_info_and_form{
    width: 87.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:auto;
    gap:16%;
    height: auto;

  }
}
//Заменить все единицы шрифтов на rem
@media(max-width: 768px){
  .connection{
    height:auto;
    textarea{
      height: 100px;
    }
    &_info{
      margin:5% auto;
      justify-content: center;
      width: fit-content;
      p{
        text-align: center;
      }
      &_links{
        justify-content: center;
      }
    }
    &_form{
      width: 90%;
      margin:auto;
    }
    &_info_and_form{
      flex-direction: column-reverse;
      width: 90%;
    }
  }
}