.Consultation {
  height: auto;
  width: 100%;
  padding-bottom:4rem;
  &__form{
    width: 43%;
    margin:auto;
    height: 32rem;
    display: flex;
    flex-direction: column;
    button{
      border: 1px solid $btn-colors;
      margin: 5% auto auto auto;
    }
    textarea{
      width: 100%;
      resize: none;
      overflow: auto;
      height: 30%;
      margin-bottom: 5%;
      font-family: Evolventa, sans-serif;
      padding:1.2rem;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
      }
    }
    input{
      font-family: Evolventa, sans-serif;
      width: 100%;
      padding: 4%;
      margin-bottom: 1.5rem;
      &::placeholder{
        font-family: Evolventa, sans-serif;
        font-size: 0.9375rem;
      }
    }
    input, textarea{
      border: 1px solid #939393;
    }
  }
}
@media(max-width: 768px){
  .Consultation{
    height: auto;
    &__form{
      width: 90%;
      height: auto;
      textarea{
        height: 100px;
      }

    }
  }
}