.Footer{
  height: 65vh;
  width: 100%;
  background-color:$background-color;

  display: flex;
  flex-direction: column;
  &__p2{
    text-align: center;
    color:$text-color;
    font-size: 0.75rem;
  }

  &__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:auto auto 3% auto;
    padding-top: 6%;
    a{
      font-size: 1.25rem;
    }
  }
  &__connection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:11.5%;
    margin-right:10.5%;
    &__1{
      display: flex;
      flex-direction: column;
      p{
        color:$text-color;
        font-size: 1.25rem;
      }
    }
    &__2{
      display: flex;
      flex-direction: row;
      gap: 6%;
      img{
        width:100%;
      }
    }
  }
  &__sponsorsLogo{
    display: flex;
    justify-content: flex-start;

    margin-right:9%;
    margin-left:auto;;
    width:16%;
    margin-bottom:2%;
    img{
      width: 16%;
    }
  }
}

@media (max-width: 768px){
  .Footer{
    &__navigation{
      a{
        font-size: 0.75rem;
      }
    }
    &__sponsorsLogo{
      width:auto;
      margin:auto;

    }
    &__p2{
      font-size: 0.4rem;
    }
    &__connection{
      align-items: center;
      p{
        font-size: 0.8rem;
      }

    }
  }
}