.Home{
    width: 100%;

  &__connection{
    width: 100%;
    height: 120vh;
    background-color: white;

    &_info{

      &_links{
        display: flex;
        flex-direction: row;
        gap: 2%;
      }
      p{
        font-size: 2.1785rem;
        margin-bottom: 1%;
      }
    }
    &_form{
      width: 43%;
      display: flex;
      flex-direction: column;
      button{
        border: 1px solid $btn-colors;
      }
      textarea{
        width: 100%;
        resize: none;
        overflow: auto;
        height: 30%;
        margin-bottom: 5%;
        &::placeholder{
          font-family: Evolventa, sans-serif;
          font-size: 0.9375rem;
          padding-top: 20px; /* Сдвигает текст вниз */
          padding-left: 4%; /* Сдвигает текст вправо */
        }
      }
      input{
        width: 100%;
        padding: 4%;
        margin-bottom: 6%;
        &::placeholder{
          font-family: Evolventa, sans-serif;
          font-size: 0.9375rem;
        }
      }
    }
    &_info_and_form{
      width: 87.5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin:auto;
      gap:16%;
      height: 38%;
    }
  }
  &__processes{
    width: 100%;
    height: 120vh;
    background-color:$background-color;
    position: relative;
    display: flex;
    flex-direction: column;
    h2,.p1{
      color: white;
    }

  }
  &__horizontal_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 93%;
    justify-content: center;
    margin: auto auto 5% auto;
    gap: 10% 5%;
    height: 90%;
  }
  &__horizontal_card{
    background-color: white;
    border-radius: 30px;
    height: 100%;
    &__info{
      margin-left: 5%;
      margin-bottom:5%;

      p{
        font-size: 0.75rem;
      }
    }
    h3{
      width:fit-content;
      border:2px solid black;
      padding:2% 4%;
      border-radius: 50%;
      margin:4%;
    }
  }

  &__briefcase{
    width: 100%;
    background-color: #fff;
    height:auto;

    &__cards{
      display: flex;
      flex-direction: row;
      width: 87.5%;
      margin:auto auto 3% auto;
      justify-content: space-between;
      gap: 3%;
    }
    &__card{
      display: flex;
      flex-direction: column;
      width: 32%;
      img{
        width: 100%;
      }
      p{
        text-align: start;
        overflow-wrap: break-word;
        font-size: 1rem;
      }

    }

  }
  &__border_line{
    width: 90%;
    border-top: 1px solid #939393;
    display: flex;
    justify-content: center;
    margin:auto;
  }
  &__block{
    height: 100vh;
    width: 100vw;
    background-color:$background-color;
    .background{
      background-color:#6254e6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 91%;
      margin: 2% auto;
      border-radius: 15px;
    }
    &-info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 69%;
      height: 34%;
      h1,p{
        margin-bottom:5%;
        text-align: center;

      }
      p{
        font-size:1rem;
        font-weight: lighter;
      }
      h1{
        font-size: 2.5rem;
      }
      h1,p,button{
        color: white;
      }
    }
  }
}

@media(max-width:768px){
  .Home{
    &__briefcase{
      &__cards{
        flex-direction: column;
      }
      &__card{
        width: 100%;
        margin-bottom:5%;
        h4,p{
          text-align: center;
        }
      }
    }
    &__processes{
      height:auto;
      padding-bottom:10%;
      .p1{
        height:5%;
        margin-top:0;
        width: 90%;
      }
    }
    &__horizontal_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 2%;
    }
    &__horizontal_card{
      height: auto;
      h3{
        margin-bottom:1%;
      }
      &__info{
        align-items: center;
        width: 90%;

      }
    }
  }
}
