.DynamicGrid, .DynamicGrid--alternative {
  position: relative;
  display: grid;
  gap: 3.5%;
  height: 120vh;
  padding:2%;
  margin: auto;
  justify-content: center;
  &__line{
    width: 45px !important;
    border-top: 2px solid white;
    align-items: center;
    margin: auto !important;
  }
  &__numAndLine{
    display: flex;
    flex-direction: row !important;
    position: absolute;
    left:4.5%;
    top:7%;
    margin:0;
    width:fit-content;
    height: fit-content;
    p{
      margin-left:5px;
      font-size: 0.9375rem !important;
    }
  }
}

/* Шаблоны сетки в зависимости от количества блоков */
.DynamicGrid[data-blocks-count="1"] {
  grid-template-areas: "a";
}

.DynamicGrid[data-blocks-count="2"] {
  grid-template-areas:
        "a b"
        "a b";
}
.DynamicGrid--alternative[data-blocks-count="2"]{
  grid-template-areas:
    "a b";
  grid-template-columns:40% 40%;
  gap:10%;
  height: 100vh;
}
.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item{
  margin-top:0;
  height: 80%;
  div{
    margin-top:0;
  }
  h3,p{
    text-align: start;
  }
  h3{
    font-size: 2.1875rem;
    margin-bottom: 1%;
  }
  p{
    font-size:18px;
  }
}
@media(max-width: 768px){
  .DynamicGrid--alternative[data-blocks-count="2"]{
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    padding-bottom: 10%;
    width: 90%;
    grid-template-areas:
    "a"
    "b";
  }
  .DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item{
    height: 100%;
    p{
      font-size:1rem;
    }
  }
}

.DynamicGrid[data-blocks-count="2"] {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 6%;
  justify-content: center;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__numAndLine{
  position: absolute;
  left:6%;
  top:8%
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__numAndLine{
  left:5%;
  top:19%
}
/* Явное указание пути к вложенному селектору */
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item {
  width: 100%;
  height: 70%;
  padding: 5%;
  &.a,
  &.b {
    margin:auto;

    div:has(h3){
      width: 100%;
    }
    h3 {
      text-align: start;
      width: 100%;
      font-size: 1.6rem;
    }
    p {
      padding-top: 0;
      font-size: 20px;
      padding-left: 0;
    }
    ul{
      width: 100%;
    }
    li {
      text-align: start;
    }
  }
  &.b{
    p{
      padding-left: 4%;
    }
  }
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item_withBg{
  &.a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    div:has(h3){
      width: 100%;
    }
    h3{
      text-align: start;
      font-size: 1.9rem;
    }
  }
}

.DynamicGrid[data-blocks-count="3"] {
  grid-template-areas:
        "a b"
        "a c";
}
@media(max-width: 768px){
  .DynamicGrid{
    margin-top: 10%;
  }
  .DynamicGrid[data-blocks-count="3"] {
    height: 140vh;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:5%;
    gap:6%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a"
        "b"
        "c";
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item{
    height:100% !important;
    width: 90%;
    margin:auto;
    div:has(div){
      top:0;
      left:12%;
    }
    p{
      font-size:1rem;
    }
    &.b,
    .c{
      div{
        margin:0;
        padding:0;
      }
      p{
        margin:0 auto auto auto;
        padding:3%;
      }
    }
    div:has(h3){
      margin:5% auto auto auto;
    }
  }
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c, .DynamicGrid__item.b {
  p{
    text-align: center;
  }
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c{
  margin-top:0;
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b{
  height: 68%;
}
.DynamicGrid--alternative[data-blocks-count="3"] {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-columns: 40% 53%;
  gap:5%;
}

.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative{
  &__item{
    &.a{
      grid-area: a;
      margin: auto auto 0 auto;
      font-size: 2.1875rem;
      height: 67.5%;
      h3{
        margin-top: 5%;
      }
    }
    &.b{
      grid-area: b;
      margin-top: 0;
      font-size: 2rem;
      padding: 0 5% 0 5%;
      div:has(h3){
        width: 100%;
        padding:0;
        h3{
          text-align: start;
          line-height:40px;
        }
      }
    }
    &.c{
      grid-area: c;
      margin:auto ;
      p{
        font-size: 1.625rem;
        text-align: start;
        margin-right:7%;
      }
    }
  }
}

.DynamicGrid[data-blocks-count="5"] {
  grid-template-columns: 46.5% 23% 23%;
  grid-template-areas:
        "a b c"
        "a d e";
}
.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item{
  &.d,
  &.e{
    height:68%;
  }
}
@media(max-width: 768px){
  .DynamicGrid[data-blocks-count="5"]{
    height: auto;
    margin-bottom: 5%;
    margin-top:5%;
    gap:5%;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a a"
      "b c"
      "d e";
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item{
    height: 100% !important;
    h3{
      font-size: 1.6rem;
    }
    p{
      font-size: 1rem;
    }
    div:has(div){
      top:0;
      left:7.5%;
    }
    &.a{
      div:has(h3){
        margin:10% auto auto auto;
        padding-bottom: 5%;
      }
   }
  }
}
.DynamicGrid[data-blocks-count="6"] {
  grid-template-areas:
        "a a c d"
        "b b e f";
  grid-template-columns: 23% 22% 22% 22%;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid{
  &__item{
    &.a{
      h3{
        margin:auto;
      }
    }
    &.b{
      h3{
        text-align: start;
      }
      p{
        padding:0;
        text-align:start;
        margin-right: 13%;
      }
    }
    &.a,
    &.c,
    &.d{
      margin-bottom: 0;
      margin-top: auto;
    }
    &.b,
    &.e,
    &.f{
      margin-top: 0;
    }
  }
}

/* Привязка блоков к областям */
.DynamicGrid__item.a {
  grid-area: a;
  margin:auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  div{
    display: flex;
    margin:7% 20% auto auto;

  }
}

.DynamicGrid__item.b {
  grid-area: b;
}

.DynamicGrid__item.c {
  grid-area: c;
}

.DynamicGrid__item.d {
  grid-area: d;
}

.DynamicGrid__item.e {
  grid-area: e;
}

/* Стили для блоков */
.DynamicGrid__item, .DynamicGrid--alternative__item {
  border-radius: 30px;
  height: 70%;
  padding:5%;
  width:100%;
  &.b,
  &.c,
  &.d,
  &.e,
  &.f {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    p,h3{
      text-align: center;
    }
    h3{
      font-size: 1.5625rem;
    }
  }
  &.b,
  &.c{
    margin-bottom:0;
  }
  &.d,
  &.e{
    margin-top:0  ;
  }
  div{
    display: flex;
    flex-direction: column;
    margin:auto;
    h3{
      font-size:2.1875rem;
    }
    p{
      margin-top:2%
    }
  }
}