.DynamicGrid, .DynamicGrid--alternative{
  position:relative;
  width: 100%;
  height: auto;
  display: grid;
  padding-bottom:5rem;
  padding-top:5rem;
  gap: 2rem;
  margin:auto;
  justify-content: center;
  h3{
    font-size:2rem;
  }
  p{
    font-size:1.625rem;
  }

  &__item{
    padding-bottom: 4rem;
    &__numAndLine{
      position: absolute;
      top:2rem;
      left:1.8rem;
      display: flex;
      flex-direction: row;
      p{
        font-size: 0.9rem!important;
        font-weight: bold;
        margin-left:0.2rem;
      }
      div{
        border-top:2px solid white;
        width:3rem;
        margin:auto;
      }
    }
    border-radius: 30px;
    &.a{
      grid-area:a;
      position: relative;
    }
    &.b{
      grid-area:b;
    }
    &.c{
      grid-area:c;
    }
    &.d{
      grid-area:d;
    }
    &.e{
      grid-area:e;
    }
    &.f{
      grid-area:f;
    }


  }
}
.DynamicGrid--alternative[data-blocks-count = "3"]{
  grid-template-areas:
  "a c"
  "b c";
  grid-template-columns:44% 46%;
}
.DynamicGrid--alternative[data-blocks-count = "3"] .DynamicGrid--alternative__item{
  &.a{
    position: relative;
    div:has(h3){
      margin-top:4rem;
      margin-left:1.625rem;
    }
  }
  &.b{
    div:has(h3){
      margin-top:2rem;
      margin-left:1.625rem;
      h3{
        line-height: 1.5;
      }
    }
  }
  &.c{
    div{
      margin-top:3rem;
      margin-left:1.625rem;
    }
  }
}
.DynamicGrid[data-blocks-count = "3"]{
  grid-template-areas:"a b" "a c";
  grid-template-columns: 44% 46%;
  grid-template-rows:1fr 1fr;
}
.DynamicGrid[data-blocks-count = "3"] .DynamicGrid__item{
  &.a{
    div:has(h3){
      margin-left:1.625rem;
      margin-top:7.5rem;
      padding-right:4rem;
    }
    h3{
      margin-bottom:1rem;
    }
    p{
      font-size: 1.25rem;
    }
  }
  &.b,
  &.c{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2rem;
    p{
      font-size: 1.5rem;
    }
  }
}
.DynamicGrid[data-blocks-count = "2"]{
  grid-template-areas:
  "a b";
  grid-template-columns: 45% 45%;
}
.DynamicGrid[data-blocks-count = "2"] .DynamicGrid__item{
  div:has(h3){
    margin-left:1.625rem;
    margin-top:5rem;
  }
  h3{
    font-size:2.1785rem;
    margin-bottom:1rem;
  }
  p,li,ol{
    font-size:1.25rem;
  }
}
.DynamicGrid[data-blocks-count = "2"] .DynamicGrid__item{
  height: 30rem;
  &.a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.b{
    li{
      margin-left:1.2rem;
    }
  }
}
.DynamicGrid[data-blocks-count = "5"]{
  grid-template-areas:"a b c" "a d e";
  grid-template-columns: 44% 22% 22%;
  grid-template-rows: 1fr 1fr;
}
.DynamicGrid[data-blocks-count = "5"] .DynamicGrid__item{
  p{
    font-size: 1.25rem;
  }
  &.b,
  &.c,
  &.d,
  &.e{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:2rem;
      text-align: center;
  }
  &.a{
    padding-bottom:4rem;
    padding-right: 4rem;
    div:has(h3){
      margin-left:1.625rem;
      margin-top:6.68rem;
      h3{
        margin-bottom:1rem;
      }
    }
  }

}
.DynamicGrid[data-blocks-count = "6"]{
  grid-template-areas: "a c d" "b e f";
  grid-template-columns: 44% 22% 22%;
  grid-template-rows: 1fr 1fr;
}
.DynamicGrid[data-blocks-count = "6"] .DynamicGrid__item{
  &.a{
    div:has(h3){
      margin-left:1.625rem;
      padding-right: 4rem;
      margin-top:4rem;
      h3{
        line-height: 1.5;
      }
    }
  }
  &.b{
    div{
      margin-left: 1.625rem;
      margin-top:2rem;
      padding-right: 4rem;
      h3{
        font-size:1.5rem;
        margin-bottom:0.2rem;
      }
      p{
        font-size:1.25rem;
      }
    }
  }
  &.c,
  &.d,
  &.e,
  &.f{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1.4rem;
    h3{
      font-size:1.5rem;
    }
  }

  p{
    font-size: 1.25rem;
  }
}
@media(max-width: 768px){
  .DynamicGrid, .DynamicGrid--alternative{
    height: auto;
  }
  .DynamicGrid[data-blocks-count = "3"]{
    grid-template-areas: "a" "a" "b" "c";
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .DynamicGrid--alternative[data-blocks-count = "3"]{

    grid-template-columns:86%;
    grid-template-areas:
    "a"
    "b"
    "c";
  }
  .DynamicGrid[data-blocks-count = "2"]{
    grid-template-areas: "a" "b";
    grid-template-columns: 86%;
    height: auto;
  }
  .DynamicGrid[data-blocks-count = "2"] .DynamicGrid__item{
    padding-bottom: 4rem;
  }
  .DynamicGrid[data-blocks-count = "5"]{
    grid-template-areas: "a a" "b c" "d e";
    grid-template-columns:43% 43%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70rem;
  }
  .DynamicGrid[data-blocks-count = "6"]{
    grid-template-areas:"a a" "b b" "c d" " e f";
    grid-template-columns: 43% 43%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    height: 75rem;
  }

}