.Janna{
position: relative;
  .p1{
    margin-bottom: 0;
  }
  &__numAndLine{
    position: absolute;
    left:7%;
    top:70%;
    display: flex;
    flex-direction: row;
    p{
      margin-left:5px;
      font-size: 0.9375rem;
    }
    div{
      border-top:2px solid black;
      width: 50px;
      display: flex;
      align-items: center;
      margin: auto;
    }
  }
}
@media(max-width: 768px){
  .Janna{
    &__numAndLine{
      top:66.2%;
    }
  }
}