.Portfolio{
  width: 100%;
  height: auto;
  background-color: white;
  h2{
    padding-top: 7%;
  }
  .p_center{
    margin: 5% auto 5% auto;
    width:70%;
  }
  .p_center, h2{
    text-align: center;
  }
}