.Technology{
  display:grid;
  margin:auto;
  justify-content: center;
  gap: 2%;
  grid-template-columns: 46.5% 46.5%;
  position: relative;
  padding:2%;
  height: 100vh;
  width:100%;
  &__item:has(h3){
    display:flex;
    justify-content: flex-start;
    margin-left:5%;
    width:100%;
    h3{
      width:10%;
      text-align:center;
      border:2px solid black;
      border-radius:50%;
      padding:10px;
    }
    div{
      margin-left:5%;
    }
  }
  &__item:has(img){
  text-align: start;
  width: 100%;
  margin:auto;
  justify-content: center;
  div{
    p{
      margin-left:0;
      width: 100%;
    }
  }
    &.a,
  &.b{
    margin-bottom:10%;
  }
  &.c,
  &.d{
    margin-top:10%;
  }
  &.d{
    display:flex;
    justify-content: flex-start;
    margin-left:1%;
    margin-top:12%;
  }
}
&__item{
  display: flex;
  flex-direction: row;
  height:fit-content;
  align-items: center;
  margin:auto;
  div:has(h4){
    margin-left:5%;
  }
  h4{
    font-size: 1.5625rem;
  }
  p{
    font-size:1.25rem;
  }
}
}
@media(max-width: 768px){
  .Technology{
    height:auto;
    gap:2rem;
    grid-template-columns: 90%;
    grid-template-areas:
    "a"
    "c"
    "e"
    "b"
    "d"
  ;
    &__item{
      justify-content: flex-start!important;
      margin-bottom:8% !important;
      margin-top:0!important;
      height: auto;
      &.a{
      grid-area:a;
      }
      &.b{
        grid-area:b;
      }
      &.c{
        grid-area:c;
      }
      &.d{
        grid-area:d;
      }
      &.e{
        grid-area:e;
      }
    }
  }
}
