.Triager{
  height: auto;
  width: 100%;
  &__TechnologyBlock{
    height: auto;
    padding-bottom: 5rem;
    position: relative;
    &-left{
      display: flex;
      flex-direction: column;
      gap:5rem;
      div{
      display: flex;
      flex-direction: row;
      margin-left:3rem;
        img{
          height: 4.5rem;
          margin-right:1rem;
        }
      }
    }
    &-right{
      display: flex;
      flex-direction: column;
      margin-top:2rem;
      gap:3rem;
      div{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &__underline{
        border-top:2px solid black;
        width:50%;
        margin: auto;
      }
    }
    &__numAndLine{
      position:absolute;
      display:flex;
      flex-direction: row;
      left:5%;
      top:8%;
      div{
        border-top:2px solid black;
        width: 3rem;
        margin: auto 0.5rem auto auto;
        p{
          font-weight: bold;
        }
      }
    }
  }
  &__TechnologyLeftRightBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .Triager{
    &__TechnologyBlock{
      &__numAndLine{
        top:2%;
      }
    }
    &__TechnologyLeftRightBlock{
      grid-template-columns: 1fr;
    }
  }
}