@charset "UTF-8";
/* Подключение шрифта Evolventa */
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: "Evolventa", sans-serif;
}

/* Заголовки */
h1 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 3.75rem; /* 60px */
  line-height: 4.375rem; /* 70px */
}

h2 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 2.375rem; /* 38px */
  line-height: 3.125rem; /* 50px */
}

h3 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
  line-height: 2.125rem; /* 34px */
}

h4 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.25rem; /* 22px */
  line-height: 1.75rem; /* 28px */
}

h5 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
}

h6 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1rem; /* 16px */
  line-height: 1.375rem; /* 22px */
}

/* Параграф */
p, a, ul {
  font-family: "Evolventa", sans-serif;
  font-weight: normal;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
}

/* Кнопка */
button {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1rem; /* 16px */
}

a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
  align-items: center;
  transition: all 0.5s;
}
a:hover {
  color: #4F5BD5;
}
.button_white {
  background-color: #4F5BD5;
  width: fit-content;
  height: fit-content;
  padding: 21px 55px;
  border-radius: 45px;
  border: 1px solid #4F5BD5;
  transition: all 0.5s;
  color: white;
  cursor: pointer;
}
.button_white:hover {
  background-color: white;
  color: #4F5BD5;
}

@media (max-width: 768px) {
  .button_white {
    padding: 20px 30px;
  }
  .p1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.99rem;
  }
}
h2 {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 6%;
}

.p1 {
  text-align: center;
  width: 60%;
  margin: auto auto 5% auto;
  font-weight: 300;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #292929;
  height: 80px;
  align-items: center;
  width: 100%;
}
.Header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.Header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0;
  align-items: center;
  white-space: nowrap;
}
.Header nav a:hover {
  color: #4F5BD5;
}
.Header nav a.active {
  color: #4F5BD5;
}
.Header .nav__1 {
  margin-left: 15%;
  gap: 8%;
}
.Header .nav__2 {
  justify-self: flex-end;
  margin-right: 20%;
  gap: 20%;
}
.Header .logo_container {
  display: flex;
  justify-content: center;
  height: 60%;
}

@media (max-width: 768px) {
  .Header {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .Header img {
    margin: auto auto 0 auto;
  }
  .Header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    gap: 5%;
  }
  .Header nav a {
    width: fit-content;
  }
}
@media (max-width: 320px) {
  .Header nav {
    gap: 2%;
  }
}
.Home {
  width: 100%;
}
.Home__connection {
  width: 100%;
  height: auto;
  background-color: white;
}
.Home__connection_info_links {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.Home__connection_info p {
  font-size: 2.1785rem;
  margin-bottom: 1%;
}
.Home__connection_form {
  width: 43%;
  display: flex;
  flex-direction: column;
}
.Home__connection_form button {
  border: 1px solid #4F5BD5;
}
.Home__connection_form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  height: 30%;
  margin-bottom: 5%;
}
.Home__connection_form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
  padding-top: 20px; /* Сдвигает текст вниз */
  padding-left: 4%; /* Сдвигает текст вправо */
}
.Home__connection_form input {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
}
.Home__connection_form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.Home__connection_info_and_form {
  width: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  gap: 16%;
  height: 38%;
}
.Home__processes {
  width: 100%;
  height: auto;
  background-color: #292929;
  position: relative;
  display: flex;
  flex-direction: column;
}
.Home__processes h2, .Home__processes .p1 {
  color: white;
}
.Home__horizontal_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 93%;
  justify-content: center;
  margin: auto auto 7% auto;
  gap: 10% 5%;
}
.Home__horizontal_card {
  background-color: white;
  border-radius: 30px;
  height: 12rem;
}
.Home__horizontal_card__info {
  margin-left: 5%;
  margin-bottom: 2rem;
}
.Home__horizontal_card__info p {
  font-size: 0.75rem;
}
.Home__horizontal_card h3 {
  width: fit-content;
  border: 2px solid black;
  padding: 2% 4%;
  border-radius: 50%;
  margin: 4%;
}
.Home__briefcase {
  width: 100%;
  background-color: #fff;
  height: auto;
}
.Home__briefcase__cards {
  display: flex;
  flex-direction: row;
  width: 87.5%;
  margin: auto auto 3% auto;
  justify-content: space-between;
  gap: 3%;
}
.Home__briefcase__card {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.Home__briefcase__card img {
  width: 100%;
}
.Home__briefcase__card p {
  text-align: start;
  overflow-wrap: break-word;
  font-size: 1rem;
}
.Home__border_line {
  width: 90%;
  border-top: 1px solid #939393;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Home__block {
  height: 40rem;
  width: 100vw;
  background-color: #292929;
}
.Home__block .background {
  background-image: url("../public/images/bg.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 91%;
  margin: 2% auto;
  border-radius: 15px;
}
.Home__block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 69%;
  height: 34%;
}
.Home__block-info h1, .Home__block-info p {
  margin-bottom: 5%;
  text-align: center;
}
.Home__block-info p {
  font-size: 1rem;
  font-weight: lighter;
}
.Home__block-info h1 {
  font-size: 2.5rem;
}
.Home__block-info h1, .Home__block-info p, .Home__block-info button {
  color: white;
}

@media (max-width: 768px) {
  .Home__block {
    height: 40rem;
  }
  .Home__briefcase__cards {
    flex-direction: column;
  }
  .Home__briefcase__card {
    width: 100%;
    margin-bottom: 2rem;
  }
  .Home__briefcase__card h4, .Home__briefcase__card p {
    text-align: center;
  }
  .Home__processes {
    height: auto;
  }
  .Home__processes .p1 {
    height: 5%;
    margin-top: 0;
    width: 90%;
  }
  .Home__horizontal_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .Home__horizontal_card h3 {
    margin-bottom: 0.5rem;
  }
  .Home__horizontal_card__info {
    align-items: center;
    width: 90%;
  }
}
.Footer {
  height: auto;
  width: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
}
.Footer__p2 {
  text-align: center;
  color: #C7C7C7;
  font-size: 0.75rem;
  width: 90%;
  height: fit-content;
  margin: 2% auto;
}
.Footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto auto auto;
}
.Footer__navigation a {
  font-size: 1rem;
  font-weight: bold;
}
.Footer__connection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.Footer__connection__1 {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 0;
}
.Footer__connection__1 p {
  color: #C7C7C7;
  font-size: 1.25rem;
}
.Footer__connection__2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
}
.Footer__connection__2 a {
  width: fit-content;
}
.Footer__connection__2 img {
  width: 100%;
}
.Footer__sponsorsLogo {
  display: flex;
  justify-content: flex-start;
  margin-right: 4%;
  margin-left: auto;
  width: 16%;
}
.Footer__sponsorsLogo img {
  width: 16%;
}

@media (max-width: 768px) {
  .Footer {
    height: auto;
  }
  .Footer__navigation {
    margin: 0 auto 0 auto;
  }
  .Footer__navigation a {
    font-size: 1rem;
  }
  .Footer__sponsorsLogo {
    width: auto;
    margin: 0 auto 0 auto;
  }
  .Footer__connection {
    align-items: center;
    font-size: 1.1rem;
  }
  .Footer__connection__2 a {
    width: fit-content;
  }
  .Footer__connection__2 img {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .Footer__navigation {
    width: 90%;
  }
}
.Portfolio {
  width: 100%;
  height: auto;
  background-color: white;
}
.Portfolio h2 {
  padding-top: 7%;
}
.Portfolio .p_center {
  margin: 5% auto 5% auto;
  width: 70%;
}
.Portfolio .p_center, .Portfolio h2 {
  text-align: center;
}

.HorizontalCard {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 93%;
  height: 20rem;
  margin: auto auto 5% auto;
}
.HorizontalCard__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.HorizontalCard__content div {
  margin: 2% auto auto 3%;
  color: white;
}
.HorizontalCard__content div h4 {
  font-size: 1.875rem;
  margin-bottom: 2%;
}
.HorizontalCard__content div p {
  font-size: 1.25rem;
}
.HorizontalCard__content button {
  width: fit-content;
  margin: auto 6% 4% auto;
}

.connection {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 1rem;
}
.connection h2 {
  color: black !important;
}
.connection_info_links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.connection_info p {
  font-size: 2.1785rem;
  margin-bottom: 0.5rem;
}
.connection_form {
  width: 43%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.connection_form button {
  border: 1px solid #4F5BD5;
  margin: auto;
  display: flex;
  justify-content: center;
}
.connection_form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  margin-bottom: 5%;
  height: 8rem;
  padding: 2rem;
  font-family: Evolventa, sans-serif;
}
.connection_form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.connection_form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.connection_form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.connection_info_and_form {
  width: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  gap: 2rem;
  height: auto;
}

@media (max-width: 768px) {
  .connection {
    height: auto;
  }
  .connection_info {
    margin: 5% auto;
    justify-content: center;
    width: fit-content;
  }
  .connection_info p {
    text-align: center;
    font-size: 1.8rem;
  }
  .connection_info_links {
    justify-content: center;
  }
  .connection_form {
    width: 90%;
    margin: auto;
  }
  .connection_info_and_form {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.Services {
  width: 100%;
  height: 140vh;
}
.Services p {
  margin-bottom: 8%;
}
.Services__block {
  width: 93%;
  height: auto;
  margin: 0 auto 3% auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #939393;
  padding-bottom: 3%;
}
.Services__block p {
  color: #C7C7C7;
  font-size: 0.9375rem;
  margin-top: 1%;
}
.Services__block a {
  margin: 0 0 auto auto;
}

@media (max-width: 768px) {
  .Services {
    height: auto;
  }
  .Services .p1 {
    margin-bottom: 7%;
  }
  .Services p {
    margin-bottom: 2%;
  }
  .Services__block {
    flex-direction: column;
    height: fit-content;
  }
  .Services__block a {
    margin: auto auto auto 0;
  }
}
.DynamicGrid, .DynamicGrid--alternative {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  padding-bottom: 5rem;
  padding-top: 5rem;
  gap: 2rem;
  margin: auto;
  justify-content: center;
}
.DynamicGrid h3, .DynamicGrid--alternative h3 {
  font-size: 2rem;
}
.DynamicGrid p, .DynamicGrid--alternative p {
  font-size: 1.625rem;
}
.DynamicGrid__item, .DynamicGrid--alternative__item {
  padding-bottom: 4rem;
  border-radius: 30px;
}
.DynamicGrid__item__numAndLine, .DynamicGrid--alternative__item__numAndLine {
  position: absolute;
  top: 2rem;
  left: 1.8rem;
  display: flex;
  flex-direction: row;
}
.DynamicGrid__item__numAndLine p, .DynamicGrid--alternative__item__numAndLine p {
  font-size: 0.9rem !important;
  font-weight: bold;
  margin-left: 0.2rem;
}
.DynamicGrid__item__numAndLine div, .DynamicGrid--alternative__item__numAndLine div {
  border-top: 2px solid white;
  width: 3rem;
  margin: auto;
}
.DynamicGrid__item.a, .DynamicGrid--alternative__item.a {
  grid-area: a;
  position: relative;
}
.DynamicGrid__item.b, .DynamicGrid--alternative__item.b {
  grid-area: b;
}
.DynamicGrid__item.c, .DynamicGrid--alternative__item.c {
  grid-area: c;
}
.DynamicGrid__item.d, .DynamicGrid--alternative__item.d {
  grid-area: d;
}
.DynamicGrid__item.e, .DynamicGrid--alternative__item.e {
  grid-area: e;
}
.DynamicGrid__item.f, .DynamicGrid--alternative__item.f {
  grid-area: f;
}

.DynamicGrid--alternative[data-blocks-count="3"] {
  grid-template-areas: "a c" "b c";
  grid-template-columns: 44% 46%;
}

.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.a {
  position: relative;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.a div:has(h3) {
  margin-top: 4rem;
  margin-left: 1.625rem;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.b div:has(h3) {
  margin-top: 2rem;
  margin-left: 1.625rem;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.b div:has(h3) h3 {
  line-height: 1.5;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.c div {
  margin-top: 3rem;
  margin-left: 1.625rem;
}

.DynamicGrid[data-blocks-count="3"] {
  grid-template-areas: "a b" "a c";
  grid-template-columns: 44% 46%;
  grid-template-rows: 1fr 1fr;
}

.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.a div:has(h3) {
  margin-left: 1.625rem;
  margin-top: 7.5rem;
  padding-right: 4rem;
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.a h3 {
  margin-bottom: 1rem;
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.a p {
  font-size: 1.25rem;
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b, .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b p, .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c p {
  font-size: 1.5rem;
}

.DynamicGrid[data-blocks-count="2"] {
  grid-template-areas: "a b";
  grid-template-columns: 45% 45%;
}

.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item div:has(h3) {
  margin-left: 1.625rem;
  margin-top: 5rem;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item h3 {
  font-size: 2.1785rem;
  margin-bottom: 1rem;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item p, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item li, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item ol {
  font-size: 1.25rem;
}

.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item {
  height: 30rem;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b li {
  margin-left: 1.2rem;
}

.DynamicGrid[data-blocks-count="5"] {
  grid-template-areas: "a b c" "a d e";
  grid-template-columns: 44% 22% 22%;
  grid-template-rows: 1fr 1fr;
}

.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item p {
  font-size: 1.25rem;
}
.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.b, .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.c, .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.d, .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.a {
  padding-bottom: 4rem;
  padding-right: 4rem;
}
.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.a div:has(h3) {
  margin-left: 1.625rem;
  margin-top: 6.68rem;
}
.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.a div:has(h3) h3 {
  margin-bottom: 1rem;
}

.DynamicGrid[data-blocks-count="6"] {
  grid-template-areas: "a c d" "b e f";
  grid-template-columns: 44% 22% 22%;
  grid-template-rows: 1fr 1fr;
}

.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.a div:has(h3) {
  margin-left: 1.625rem;
  padding-right: 4rem;
  margin-top: 4rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.a div:has(h3) h3 {
  line-height: 1.5;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b div {
  margin-left: 1.625rem;
  margin-top: 2rem;
  padding-right: 4rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b div h3 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b div p {
  font-size: 1.25rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.c, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.d, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.e, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.f {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.4rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.c h3, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.d h3, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.e h3, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.f h3 {
  font-size: 1.5rem;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item p {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .DynamicGrid, .DynamicGrid--alternative {
    height: auto;
  }
  .DynamicGrid[data-blocks-count="3"] {
    grid-template-areas: "a" "a" "b" "c";
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .DynamicGrid--alternative[data-blocks-count="3"] {
    grid-template-columns: 86%;
    grid-template-areas: "a" "b" "c";
  }
  .DynamicGrid[data-blocks-count="2"] {
    grid-template-areas: "a" "b";
    grid-template-columns: 86%;
    height: auto;
  }
  .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item {
    padding-bottom: 4rem;
  }
  .DynamicGrid[data-blocks-count="5"] {
    grid-template-areas: "a a" "b c" "d e";
    grid-template-columns: 43% 43%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70rem;
  }
  .DynamicGrid[data-blocks-count="6"] {
    grid-template-areas: "a a" "b b" "c d" " e f";
    grid-template-columns: 43% 43%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    height: 75rem;
  }
}
.Technology {
  display: grid;
  margin: auto;
  justify-content: center;
  gap: 2%;
  grid-template-columns: 46.5% 46.5%;
  position: relative;
  padding: 2%;
  height: 100vh;
  width: 100%;
}
.Technology__item:has(h3) {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  width: 100%;
}
.Technology__item:has(h3) h3 {
  width: 4rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}
.Technology__item:has(h3) div {
  margin-left: 5%;
}
.Technology__item:has(img) {
  text-align: start;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.Technology__item:has(img) div p {
  margin-left: 0;
  width: 100%;
}
.Technology__item:has(img).a, .Technology__item:has(img).b {
  margin-bottom: 10%;
}
.Technology__item:has(img).c, .Technology__item:has(img).d {
  margin-top: 10%;
}
.Technology__item:has(img).d {
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
  margin-top: 12%;
}
.Technology__item {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  margin: auto;
}
.Technology__item div:has(h4) {
  margin-left: 5%;
}
.Technology__item h4 {
  font-size: 1.5625rem;
}
.Technology__item p {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .Technology {
    height: auto;
    gap: 2rem;
    grid-template-columns: 90%;
    grid-template-areas: "a" "c" "e" "b" "d";
  }
  .Technology__item {
    justify-content: flex-start !important;
    margin-bottom: 8% !important;
    margin-top: 0 !important;
    height: auto;
  }
  .Technology__item.a {
    grid-area: a;
  }
  .Technology__item.b {
    grid-area: b;
  }
  .Technology__item.c {
    grid-area: c;
  }
  .Technology__item.d {
    grid-area: d;
  }
  .Technology__item.e {
    grid-area: e;
  }
}
.Triager {
  height: auto;
  width: 100%;
}
.Triager__TechnologyBlock {
  height: auto;
  padding-bottom: 5rem;
  position: relative;
}
.Triager__TechnologyBlock-left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.Triager__TechnologyBlock-left div {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.Triager__TechnologyBlock-left div img {
  height: 4.5rem;
  margin-right: 1rem;
}
.Triager__TechnologyBlock-right {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 3rem;
}
.Triager__TechnologyBlock-right div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Triager__TechnologyBlock-right__underline {
  border-top: 2px solid black;
  width: 50%;
  margin: auto;
}
.Triager__TechnologyBlock__numAndLine {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 5%;
  top: 8%;
}
.Triager__TechnologyBlock__numAndLine div {
  border-top: 2px solid black;
  width: 3rem;
  margin: auto 0.5rem auto auto;
}
.Triager__TechnologyBlock__numAndLine div p {
  font-weight: bold;
}
.Triager__TechnologyLeftRightBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .Triager__TechnologyBlock__numAndLine {
    top: 2%;
  }
  .Triager__TechnologyLeftRightBlock {
    grid-template-columns: 1fr;
  }
}
.Janna {
  position: relative;
}
.Janna .p1 {
  margin-bottom: 0;
}
.Janna__numAndLine {
  position: absolute;
  left: 7%;
  top: 10%;
  display: flex;
  flex-direction: row;
}
.Janna__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem;
}
.Janna__numAndLine div {
  border-top: 2px solid black;
  width: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  .Janna__numAndLine {
    top: 3%;
    left: 4%;
  }
}
.Kastel {
  position: relative;
}
.Kastel .p1 {
  margin-bottom: 0;
}
.Kastel__numAndLine {
  position: absolute;
  left: 3%;
  top: 4%;
  display: flex;
  flex-direction: row;
}
.Kastel__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem;
  font-weight: bold;
}
.Kastel__numAndLine div {
  border-top: 2px solid black;
  width: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

.Company {
  background-color: #292929;
}
.Company h2 {
  color: white;
}
.Company__underline {
  border: 1px solid #939393;
  width: 93%;
  margin: auto;
}

.Consultation {
  height: auto;
  width: 100%;
  padding-bottom: 4rem;
}
.Consultation__form {
  width: 43%;
  margin: auto;
  height: 32rem;
  display: flex;
  flex-direction: column;
}
.Consultation__form button {
  border: 1px solid #4F5BD5;
  margin: 5% auto auto auto;
}
.Consultation__form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  height: 30%;
  margin-bottom: 5%;
}
.Consultation__form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
  padding-top: 20px; /* Сдвигает текст вниз */
  padding-left: 4%; /* Сдвигает текст вправо */
}
.Consultation__form input {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
}
.Consultation__form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.Consultation__form input, .Consultation__form textarea {
  border: 1px solid #939393;
}

@media (max-width: 768px) {
  .Consultation {
    height: auto;
  }
  .Consultation__form {
    width: 90%;
    height: auto;
  }
  .Consultation__form textarea {
    height: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
