@charset "UTF-8";
/* Подключение шрифта Evolventa */
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: "Evolventa", sans-serif;
}

/* Заголовки */
h1 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 3.75rem; /* 60px */
  line-height: 4.375rem; /* 70px */
}

h2 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 2.375rem; /* 38px */
  line-height: 3.125rem; /* 50px */
}

h3 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
  line-height: 2.125rem; /* 34px */
}

h4 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.25rem; /* 22px */
  line-height: 1.75rem; /* 28px */
}

h5 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
}

h6 {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1rem; /* 16px */
  line-height: 1.375rem; /* 22px */
}

/* Параграф */
p, a, ul {
  font-family: "Evolventa", sans-serif;
  font-weight: normal;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
}

/* Кнопка */
button {
  font-family: "Evolventa", sans-serif;
  font-weight: bold;
  font-size: 1rem; /* 16px */
}

a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
  align-items: center;
  transition: all 0.5s;
}
a:hover {
  color: #4F5BD5;
}
.button_white {
  background-color: #4F5BD5;
  width: fit-content;
  height: fit-content;
  padding: 21px 55px;
  border-radius: 45px;
  border: 1px solid #4F5BD5;
  transition: all 0.5s;
  color: white;
}
.button_white:hover {
  background-color: white;
  color: #4F5BD5;
}

@media (max-width: 768px) {
  .button_white {
    padding: 20px 30px;
  }
}
h2 {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 6%;
}

.p1 {
  text-align: center;
  width: 60%;
  margin: auto auto 5% auto;
  font-weight: 300;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #292929;
  height: 80px;
  align-items: center;
  width: 100%;
}
.Header nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.Header nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
  align-items: center;
  white-space: nowrap;
}
.Header nav a:hover {
  color: #4F5BD5;
}
.Header nav a.active {
  color: #4F5BD5;
}
.Header .nav__1 {
  margin-left: 15%;
}
.Header .nav__2 {
  justify-self: flex-end;
  margin-right: 15%;
}
.Header .logo_container {
  display: flex;
  justify-content: center;
  height: 60%;
}

@media (max-width: 768px) {
  .Header {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .Header img {
    margin: auto auto 0 auto;
  }
  .Header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 5%;
  }
  .Header nav a {
    width: fit-content;
  }
}
.Home {
  width: 100%;
}
.Home__connection {
  width: 100%;
  height: 120vh;
  background-color: white;
}
.Home__connection_info_links {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.Home__connection_info p {
  font-size: 2.1785rem;
  margin-bottom: 1%;
}
.Home__connection_form {
  width: 43%;
  display: flex;
  flex-direction: column;
}
.Home__connection_form button {
  border: 1px solid #4F5BD5;
}
.Home__connection_form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  height: 30%;
  margin-bottom: 5%;
}
.Home__connection_form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
  padding-top: 20px; /* Сдвигает текст вниз */
  padding-left: 4%; /* Сдвигает текст вправо */
}
.Home__connection_form input {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
}
.Home__connection_form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.Home__connection_info_and_form {
  width: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  gap: 16%;
  height: 38%;
}
.Home__processes {
  width: 100%;
  height: 120vh;
  background-color: #292929;
  position: relative;
  display: flex;
  flex-direction: column;
}
.Home__processes h2, .Home__processes .p1 {
  color: white;
}
.Home__horizontal_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 93%;
  justify-content: center;
  margin: auto auto 5% auto;
  gap: 10% 5%;
  height: 90%;
}
.Home__horizontal_card {
  background-color: white;
  border-radius: 30px;
  height: 100%;
}
.Home__horizontal_card__info {
  margin-left: 5%;
  margin-bottom: 5%;
}
.Home__horizontal_card__info p {
  font-size: 0.75rem;
}
.Home__horizontal_card h3 {
  width: fit-content;
  border: 2px solid black;
  padding: 2% 4%;
  border-radius: 50%;
  margin: 4%;
}
.Home__briefcase {
  width: 100%;
  background-color: #fff;
  height: auto;
}
.Home__briefcase__cards {
  display: flex;
  flex-direction: row;
  width: 87.5%;
  margin: auto auto 3% auto;
  justify-content: space-between;
  gap: 3%;
}
.Home__briefcase__card {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.Home__briefcase__card img {
  width: 100%;
}
.Home__briefcase__card p {
  text-align: start;
  overflow-wrap: break-word;
  font-size: 1rem;
}
.Home__border_line {
  width: 90%;
  border-top: 1px solid #939393;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Home__block {
  height: 100vh;
  width: 100vw;
  background-color: #292929;
}
.Home__block .background {
  background-color: #6254e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 91%;
  margin: 2% auto;
  border-radius: 15px;
}
.Home__block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 69%;
  height: 34%;
}
.Home__block-info h1, .Home__block-info p {
  margin-bottom: 5%;
  text-align: center;
}
.Home__block-info p {
  font-size: 1rem;
  font-weight: lighter;
}
.Home__block-info h1 {
  font-size: 2.5rem;
}
.Home__block-info h1, .Home__block-info p, .Home__block-info button {
  color: white;
}

@media (max-width: 768px) {
  .Home__briefcase__cards {
    flex-direction: column;
  }
  .Home__briefcase__card {
    width: 100%;
    margin-bottom: 5%;
  }
  .Home__briefcase__card h4, .Home__briefcase__card p {
    text-align: center;
  }
  .Home__processes {
    height: auto;
    padding-bottom: 10%;
  }
  .Home__processes .p1 {
    height: 5%;
    margin-top: 0;
    width: 90%;
  }
  .Home__horizontal_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;
  }
  .Home__horizontal_card {
    height: auto;
  }
  .Home__horizontal_card h3 {
    margin-bottom: 1%;
  }
  .Home__horizontal_card__info {
    align-items: center;
    width: 90%;
  }
}
.Footer {
  height: 65vh;
  width: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
}
.Footer__p2 {
  text-align: center;
  color: #C7C7C7;
  font-size: 0.75rem;
}
.Footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77%;
  margin: auto auto 3% auto;
  padding-top: 6%;
}
.Footer__navigation a {
  font-size: 1.25rem;
}
.Footer__connection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 11.5%;
  margin-right: 10.5%;
}
.Footer__connection__1 {
  display: flex;
  flex-direction: column;
}
.Footer__connection__1 p {
  color: #C7C7C7;
  font-size: 1.25rem;
}
.Footer__connection__2 {
  display: flex;
  flex-direction: row;
  gap: 6%;
}
.Footer__connection__2 img {
  width: 100%;
}
.Footer__sponsorsLogo {
  display: flex;
  justify-content: flex-start;
  margin-right: 9%;
  margin-left: auto;
  width: 16%;
  margin-bottom: 2%;
}
.Footer__sponsorsLogo img {
  width: 16%;
}

@media (max-width: 768px) {
  .Footer__navigation a {
    font-size: 1rem;
  }
  .Footer__sponsorsLogo {
    width: auto;
    margin: auto;
  }
  .Footer__connection {
    align-items: center;
    font-size: 1.1rem;
  }
}
@media (max-width: 320px) {
  .Footer__navigation {
    width: 90%;
  }
}
.Portfolio {
  width: 100%;
  height: auto;
  background-color: white;
}
.Portfolio h2 {
  padding-top: 7%;
}
.Portfolio .p_center {
  margin: 5% auto 5% auto;
  width: 70%;
}
.Portfolio .p_center, .Portfolio h2 {
  text-align: center;
}

.HorizontalCard {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 93%;
  height: 55vh;
  margin: auto auto 5% auto;
}
.HorizontalCard__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.HorizontalCard__content div {
  margin: 2% auto auto 3%;
  color: white;
}
.HorizontalCard__content div h4 {
  font-size: 1.875rem;
  margin-bottom: 2%;
}
.HorizontalCard__content div p {
  font-size: 1.25rem;
}
.HorizontalCard__content button {
  width: fit-content;
  margin: auto 6% 4% auto;
}

.connection {
  width: 100%;
  height: 160vh;
  background-color: white;
}
.connection_info_links {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.connection_info p {
  font-size: 2.1785rem;
  margin-bottom: 1%;
}
.connection_form {
  width: 43%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.connection_form button {
  border: 1px solid #4F5BD5;
  margin: auto;
  display: flex;
  justify-content: center;
}
.connection_form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  margin-bottom: 5%;
  height: 30%;
  font-family: Evolventa, sans-serif;
}
.connection_form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
  padding-top: 20px; /* Сдвигает текст вниз */
  padding-left: 4%; /* Сдвигает текст вправо */
}
.connection_form input {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
}
.connection_form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.connection_info_and_form {
  width: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  gap: 16%;
  height: auto;
}

@media (max-width: 768px) {
  .connection {
    height: auto;
  }
  .connection textarea {
    height: 100px;
  }
  .connection_info {
    margin: 5% auto;
    justify-content: center;
    width: fit-content;
  }
  .connection_info p {
    text-align: center;
  }
  .connection_info_links {
    justify-content: center;
  }
  .connection_form {
    width: 90%;
    margin: auto;
  }
  .connection_info_and_form {
    flex-direction: column-reverse;
    width: 90%;
  }
}
.Services {
  width: 100%;
  height: 140vh;
}
.Services p {
  margin-bottom: 8%;
}
.Services__block {
  width: 93%;
  height: auto;
  margin: 0 auto 3% auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #939393;
  padding-bottom: 3%;
}
.Services__block p {
  color: #C7C7C7;
  font-size: 0.9375rem;
  margin-top: 1%;
}
.Services__block button {
  margin: 0 0 auto auto;
}

@media (max-width: 768px) {
  .Services {
    height: auto;
  }
  .Services .p1 {
    margin-bottom: 7%;
  }
  .Services p {
    margin-bottom: 2%;
  }
  .Services__block {
    flex-direction: column;
    height: fit-content;
  }
  .Services__block button {
    margin: auto auto auto 0;
  }
}
.DynamicGrid, .DynamicGrid--alternative {
  position: relative;
  display: grid;
  gap: 3.5%;
  height: 120vh;
  padding: 2%;
  margin: auto;
  justify-content: center;
}
.DynamicGrid__line, .DynamicGrid--alternative__line {
  width: 45px !important;
  border-top: 2px solid white;
  align-items: center;
  margin: auto !important;
}
.DynamicGrid__numAndLine, .DynamicGrid--alternative__numAndLine {
  display: flex;
  flex-direction: row !important;
  position: absolute;
  left: 4.5%;
  top: 7%;
  margin: 0;
  width: fit-content;
  height: fit-content;
}
.DynamicGrid__numAndLine p, .DynamicGrid--alternative__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem !important;
}

/* Шаблоны сетки в зависимости от количества блоков */
.DynamicGrid[data-blocks-count="1"] {
  grid-template-areas: "a";
}

.DynamicGrid[data-blocks-count="2"] {
  grid-template-areas: "a b" "a b";
}

.DynamicGrid--alternative[data-blocks-count="2"] {
  grid-template-areas: "a b";
  grid-template-columns: 40% 40%;
  gap: 10%;
  height: 100vh;
}

.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item {
  margin-top: 0;
  height: 80%;
}
.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item div {
  margin-top: 0;
}
.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item h3, .DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item p {
  text-align: start;
}
.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item h3 {
  font-size: 2.1875rem;
  margin-bottom: 1%;
}
.DynamicGrid--alternative[data-blocks-count="2"] .DynamicGrid--alternative__item p {
  font-size: 18px;
}

.DynamicGrid[data-blocks-count="2"] {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 6%;
  justify-content: center;
}

.DynamicGrid[data-blocks-count="2"] .DynamicGrid__numAndLine {
  position: absolute;
  left: 6%;
  top: 8%;
}

.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__numAndLine {
  left: 5%;
  top: 19%;
}

/* Явное указание пути к вложенному селектору */
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item {
  width: 100%;
  height: 70%;
  padding: 5%;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b {
  margin: auto;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a div:has(h3), .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b div:has(h3) {
  width: 100%;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a h3, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b h3 {
  text-align: start;
  width: 100%;
  font-size: 1.6rem;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a p, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b p {
  padding-top: 0;
  font-size: 20px;
  padding-left: 0;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a ul, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b ul {
  width: 100%;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.a li, .DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b li {
  text-align: start;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item.b p {
  padding-left: 4%;
}

.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item_withBg.a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item_withBg.a div:has(h3) {
  width: 100%;
}
.DynamicGrid[data-blocks-count="2"] .DynamicGrid__item_withBg.a h3 {
  text-align: start;
  font-size: 1.9rem;
}

.DynamicGrid[data-blocks-count="3"] {
  grid-template-areas: "a b" "a c";
}

@media (max-width: 768px) {
  .DynamicGrid[data-blocks-count="3"] {
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 6%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "a" "b" "c";
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item {
    height: 100% !important;
    width: 90%;
    margin: auto;
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item div:has(div) {
    top: 0;
    left: 12%;
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item p {
    font-size: 1rem;
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b div,
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item .c div {
    margin: 0;
    padding: 0;
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b p,
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item .c p {
    margin: 0 auto auto auto;
    padding: 3%;
  }
  .DynamicGrid[data-blocks-count="3"] .DynamicGrid__item div:has(h3) {
    margin: 5% auto auto auto;
  }
}
.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c p, .DynamicGrid__item.b p {
  text-align: center;
}

.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.c {
  margin-top: 0;
}

.DynamicGrid[data-blocks-count="3"] .DynamicGrid__item.b {
  height: 68%;
}

.DynamicGrid--alternative[data-blocks-count="3"] {
  display: grid;
  grid-template-areas: "a c" "b c";
  grid-template-columns: 40% 53%;
  gap: 5%;
}

.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.a {
  grid-area: a;
  margin: auto auto 0 auto;
  font-size: 2.1875rem;
  height: 67.5%;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.a h3 {
  margin-top: 5%;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.b {
  grid-area: b;
  margin-top: 0;
  font-size: 2rem;
  padding: 0 5% 0 5%;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.b div:has(h3) {
  width: 100%;
  padding: 0;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.b div:has(h3) h3 {
  text-align: start;
  line-height: 40px;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.c {
  grid-area: c;
  margin: auto;
}
.DynamicGrid--alternative[data-blocks-count="3"] .DynamicGrid--alternative__item.c p {
  font-size: 1.625rem;
  text-align: start;
  margin-right: 7%;
}

.DynamicGrid[data-blocks-count="5"] {
  grid-template-columns: 46.5% 23% 23%;
  grid-template-areas: "a b c" "a d e";
}

.DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.d, .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.e {
  height: 68%;
}

@media (max-width: 768px) {
  .DynamicGrid[data-blocks-count="5"] {
    height: auto;
    margin-bottom: 5%;
    gap: 5%;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a a" "b c" "d e";
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item {
    height: 100% !important;
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item h3 {
    font-size: 1.6rem;
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item p {
    font-size: 1rem;
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item div:has(div) {
    top: 0;
    left: 7.5%;
  }
  .DynamicGrid[data-blocks-count="5"] .DynamicGrid__item.a div:has(h3) {
    margin: 10% auto auto auto;
    padding-bottom: 5%;
  }
}
.DynamicGrid[data-blocks-count="6"] {
  grid-template-areas: "a a c d" "b b e f";
  grid-template-columns: 23% 22% 22% 22%;
}

.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.a h3 {
  margin: auto;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b h3 {
  text-align: start;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b p {
  padding: 0;
  text-align: start;
  margin-right: 13%;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.a, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.c, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.d {
  margin-bottom: 0;
  margin-top: auto;
}
.DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.b, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.e, .DynamicGrid[data-blocks-count="6"] .DynamicGrid__item.f {
  margin-top: 0;
}

/* Привязка блоков к областям */
.DynamicGrid__item.a {
  grid-area: a;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.DynamicGrid__item.a div {
  display: flex;
  margin: 7% 20% auto auto;
}

.DynamicGrid__item.b {
  grid-area: b;
}

.DynamicGrid__item.c {
  grid-area: c;
}

.DynamicGrid__item.d {
  grid-area: d;
}

.DynamicGrid__item.e {
  grid-area: e;
}

/* Стили для блоков */
.DynamicGrid__item, .DynamicGrid--alternative__item {
  border-radius: 30px;
  height: 70%;
  padding: 5%;
  width: 100%;
}
.DynamicGrid__item.b, .DynamicGrid__item.c, .DynamicGrid__item.d, .DynamicGrid__item.e, .DynamicGrid__item.f, .DynamicGrid--alternative__item.b, .DynamicGrid--alternative__item.c, .DynamicGrid--alternative__item.d, .DynamicGrid--alternative__item.e, .DynamicGrid--alternative__item.f {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.DynamicGrid__item.b p, .DynamicGrid__item.b h3, .DynamicGrid__item.c p, .DynamicGrid__item.c h3, .DynamicGrid__item.d p, .DynamicGrid__item.d h3, .DynamicGrid__item.e p, .DynamicGrid__item.e h3, .DynamicGrid__item.f p, .DynamicGrid__item.f h3, .DynamicGrid--alternative__item.b p, .DynamicGrid--alternative__item.b h3, .DynamicGrid--alternative__item.c p, .DynamicGrid--alternative__item.c h3, .DynamicGrid--alternative__item.d p, .DynamicGrid--alternative__item.d h3, .DynamicGrid--alternative__item.e p, .DynamicGrid--alternative__item.e h3, .DynamicGrid--alternative__item.f p, .DynamicGrid--alternative__item.f h3 {
  text-align: center;
}
.DynamicGrid__item.b h3, .DynamicGrid__item.c h3, .DynamicGrid__item.d h3, .DynamicGrid__item.e h3, .DynamicGrid__item.f h3, .DynamicGrid--alternative__item.b h3, .DynamicGrid--alternative__item.c h3, .DynamicGrid--alternative__item.d h3, .DynamicGrid--alternative__item.e h3, .DynamicGrid--alternative__item.f h3 {
  font-size: 1.5625rem;
}
.DynamicGrid__item.b, .DynamicGrid__item.c, .DynamicGrid--alternative__item.b, .DynamicGrid--alternative__item.c {
  margin-bottom: 0;
}
.DynamicGrid__item.d, .DynamicGrid__item.e, .DynamicGrid--alternative__item.d, .DynamicGrid--alternative__item.e {
  margin-top: 0;
}
.DynamicGrid__item div, .DynamicGrid--alternative__item div {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.DynamicGrid__item div h3, .DynamicGrid--alternative__item div h3 {
  font-size: 2.1875rem;
}
.DynamicGrid__item div p, .DynamicGrid--alternative__item div p {
  margin-top: 2%;
}

.Technology {
  display: grid;
  margin: auto;
  justify-content: center;
  gap: 2%;
  grid-template-columns: 46.5% 46.5%;
  position: relative;
  padding: 2%;
  height: 100vh;
  width: 100%;
}
.Technology__item:has(h3) {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  width: 100%;
}
.Technology__item:has(h3) h3 {
  width: 10%;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}
.Technology__item:has(h3) div {
  margin-left: 5%;
}
.Technology__item:has(img) {
  text-align: start;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.Technology__item:has(img) div p {
  margin-left: 0;
  width: 100%;
}
.Technology__item:has(img).a, .Technology__item:has(img).b {
  margin-bottom: 10%;
}
.Technology__item:has(img).c, .Technology__item:has(img).d {
  margin-top: 10%;
}
.Technology__item:has(img).d {
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}
.Technology__item {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  margin: auto;
}
.Technology__item div:has(h4) {
  margin-left: 5%;
}
.Technology__item h4 {
  font-size: 25px;
}
.Technology__item p {
  font-size: 20px;
}

.Triager__TechnologyBlock {
  position: relative;
  width: 100%;
  height: 130vh;
}
.Triager__TechnologyBlock-left {
  display: grid;
  row-gap: 20%;
}
.Triager__TechnologyBlock-left div {
  display: flex;
  flex-direction: row;
}
.Triager__TechnologyBlock-left div p {
  margin-left: 2%;
}
.Triager__TechnologyBlock-right {
  display: grid;
  row-gap: 10%;
  text-align: center;
}
.Triager__TechnologyBlock-right__underline {
  border-top: 2px solid black;
  width: 50%;
  margin: auto;
}
.Triager__TechnologyBlock-right h3 {
  margin-bottom: 4%;
}
.Triager__TechnologyBlock__numAndLine {
  position: absolute;
  left: 5%;
  top: 9%;
  display: flex;
  flex-direction: row;
}
.Triager__TechnologyBlock__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem;
}
.Triager__TechnologyBlock__numAndLine div {
  border-top: 2px solid black;
  width: 45px;
  display: flex;
  align-items: center;
  margin: auto;
}
.Triager__TechnologyLeftRightBlock {
  display: grid;
  grid-template-columns: 45% 45%;
  margin: auto;
  justify-content: center;
}
.Triager .p1 {
  margin-bottom: 0;
  width: 70%;
}

@media (min-width: 425px) and (max-width: 768px) {
  .Triager__TechnologyBlock {
    height: 190vh;
  }
}
@media (max-width: 768px) {
  .Triager__TechnologyBlock {
    height: 170vh;
  }
  .Triager__TechnologyBlock__numAndLine {
    top: 2.5%;
  }
  .Triager__TechnologyBlock-left {
    row-gap: 6%;
  }
  .Triager__TechnologyBlock-right {
    margin-top: 10%;
  }
  .Triager__TechnologyLeftRightBlock {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr;
  }
}
.Janna {
  position: relative;
}
.Janna .p1 {
  margin-bottom: 0;
}
.Janna__numAndLine {
  position: absolute;
  left: 7%;
  top: 70%;
  display: flex;
  flex-direction: row;
}
.Janna__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem;
}
.Janna__numAndLine div {
  border-top: 2px solid black;
  width: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

.Kastel {
  position: relative;
}
.Kastel .p1 {
  margin-bottom: 0;
}
.Kastel__numAndLine {
  position: absolute;
  left: 8%;
  top: 70%;
  display: flex;
  flex-direction: row;
}
.Kastel__numAndLine p {
  margin-left: 5px;
  font-size: 0.9375rem;
}
.Kastel__numAndLine div {
  border-top: 2px solid black;
  width: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

.Company {
  background-color: #292929;
}
.Company h2 {
  color: white;
}
.Company__underline {
  border: 1px solid #939393;
  width: 93%;
  margin: auto;
}

.Consultation {
  height: 160vh;
  width: 100%;
}
.Consultation__form {
  width: 43%;
  margin: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.Consultation__form button {
  border: 1px solid #4F5BD5;
  margin: 5% auto auto auto;
}
.Consultation__form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  height: 30%;
  margin-bottom: 5%;
}
.Consultation__form textarea::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
  padding-top: 20px; /* Сдвигает текст вниз */
  padding-left: 4%; /* Сдвигает текст вправо */
}
.Consultation__form input {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
}
.Consultation__form input::placeholder {
  font-family: Evolventa, sans-serif;
  font-size: 0.9375rem;
}
.Consultation__form input, .Consultation__form textarea {
  border: 1px solid #939393;
}

/*# sourceMappingURL=main.css.map */
